*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/dbnavigator.xml
/app/src/androidTest/java/com/hfy/componentlearning/ExampleInstrumentedTest.java
/module_cart/src/androidTest/java/com/hfy/module_cart/ExampleInstrumentedTest.java
/module_home/src/androidTest/java/com/hfy/module_home/ExampleInstrumentedTest.java
/module_my/src/androidTest/java/com/hfy/module_my/ExampleInstrumentedTest.java
/module_common/src/androidTest/java/com/hfy/module_common/ExampleInstrumentedTest.java
/module_product/src/androidTest/java/com/hfy/module_product/ExampleInstrumentedTest.java
/module_category/src/androidTest/java/com/hfy/module_category/ExampleInstrumentedTest.java
/module_find/src/androidTest/java/com/hfy/module_find/ExampleInstrumentedTest.java
/module_product/src/test/java/com/hfy/module_product/ExampleUnitTest.java
/module_home/src/test/java/com/hfy/module_home/ExampleUnitTest.java
/module_common/src/test/java/com/hfy/module_common/ExampleUnitTest.java
/module_category/src/test/java/com/hfy/module_category/ExampleUnitTest.java
/module_find/src/test/java/com/hfy/module_find/ExampleUnitTest.java
/app/src/test/java/com/hfy/componentlearning/ExampleUnitTest.java
/module_cart/src/test/java/com/hfy/module_cart/ExampleUnitTest.java
/module_my/src/test/java/com/hfy/module_my/ExampleUnitTest.java
/.idea/gradle.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
